.site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-classes {
    margin: 20px;
    max-width: 600px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.class-form {
    display: flex;
    gap: 10px;
}